################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DemoElasticKibana/DemoElasticKibana/obj/Release/net8.0
/DemoElasticKibana/DemoElasticKibana/obj/Debug/net8.0/DemoElasticKibana.AssemblyInfo.cs
/DemoElasticKibana/DemoElasticKibana/obj/Debug/net8.0/DemoElasticKibana.AssemblyInfoInputs.cache
/DemoElasticKibana/DemoElasticKibana/obj/Debug/net8.0/DemoElasticKibana.assets.cache
/DemoElasticKibana/DemoElasticKibana/obj/Debug/net8.0/DemoElasticKibana.GeneratedMSBuildEditorConfig.editorconfig
/DemoElasticKibana/DemoElasticKibana/obj/DemoElasticKibana.csproj.nuget.dgspec.json
# Ignore bin and obj directories
bin/
obj/

# Ignore debug folder (nếu tồn tại)
debug/

.vs/
/DemoElasticKibana/DemoElasticKibana/.vs/DemoElasticKibana/v17/.suo
/DemoElasticKibana/DemoElasticKibana/.vs/DemoElasticKibana/v17/DocumentLayout.json
/DemoElasticKibana/DemoElasticKibana/bin/Debug/net8.0/DemoElasticKibana.dll
/DemoElasticKibana/DemoElasticKibana/bin/Debug/net8.0/DemoElasticKibana.exe
/DemoElasticKibana/DemoElasticKibana/bin/Debug/net8.0/DemoElasticKibana.pdb
/DemoElasticKibana/DemoElasticKibana/bin/Debug/net8.0/DemoElasticKibana.staticwebassets.runtime.json
/DemoElasticKibana/DemoElasticKibana/obj/Debug/net8.0/ref/DemoElasticKibana.dll
/DemoElasticKibana/DemoElasticKibana/obj/Debug/net8.0/refint/DemoElasticKibana.dll
/DemoElasticKibana/DemoElasticKibana/obj/Debug/net8.0/apphost.exe
/DemoElasticKibana/DemoElasticKibana/obj/Debug/net8.0/DemoElasticKibana.csproj.CoreCompileInputs.cache
/DemoElasticKibana/DemoElasticKibana/obj/Debug/net8.0/DemoElasticKibana.csproj.FileListAbsolute.txt
/DemoElasticKibana/DemoElasticKibana/obj/Debug/net8.0/DemoElasticKibana.dll
/DemoElasticKibana/DemoElasticKibana/obj/Debug/net8.0/DemoElasticKibana.genruntimeconfig.cache
/DemoElasticKibana/DemoElasticKibana/obj/Debug/net8.0/DemoElasticKibana.pdb
/DemoElasticKibana/DemoElasticKibana/obj/Debug/net8.0/staticwebassets.build.json
/DemoElasticKibana/DemoElasticKibana/obj/Debug/net8.0/staticwebassets.development.json
/DemoElasticKibana/DemoElasticKibana/obj/Debug/net8.0/staticwebassets.pack.json
/DemoElasticKibana/DemoElasticKibana/obj/project.assets.json
/DemoElasticKibana/DemoElasticKibana/obj/project.nuget.cache
/DemoElasticKibana/DemoElasticKibana/bin/Debug/net8.0/appsettings.Development.json
/DemoElasticKibana/DemoElasticKibana/.vs/DemoElasticKibana/config/applicationhost.config
/DemoElasticKibana/DemoElasticKibana/.vs/DemoElasticKibana/DesignTimeBuild/.dtbcache.v2
/DemoElasticKibana/DemoElasticKibana/.vs/DemoElasticKibana/v17/.futdcache.v2
/DemoElasticKibana/DemoElasticKibana/.vs/ProjectEvaluation/demoelastickibana.metadata.v8.bin
/DemoElasticKibana/DemoElasticKibana/.vs/ProjectEvaluation/demoelastickibana.projects.v8.bin
/DemoElasticKibana/DemoElasticKibana/.vs/ProjectEvaluation/demoelastickibana.strings.v8.bin
